In [15]:
import pandas as pd

In [16]:
vw_pred = pd.read_csv('../predictions/submission2_text_feat.csv')
lstm_pred = pd.read_csv('../predictions/lstm_predictions.csv')
fast_pred = pd.read_csv('../predictions/fast_text_predictions.csv')
clf_pred = pd.read_csv('../predictions/clf_predictions.csv')
early_pred = pd.read_csv('../predictions/early_predictions.csv')
xgb1_pred = pd.read_csv('../predictions/xgboost_pred.csv')
xgb2_pred = pd.read_csv('../predictions/xgboost2_pred.csv')

In [17]:
vw_pred.head()

        id       EAP       MWS       HPL
0  id02310  0.212735  0.753779  0.028311
1  id24541  0.805464  0.007126  0.180271
2  id00134  0.021110  0.047882  0.933549
3  id27757  0.478632  0.011275  0.336385
4  id04081  0.688231  0.115644  0.209802

In [18]:
lstm_pred.head()

        id       EAP       HPL       MWS
0  id02310  0.036673  0.181997  0.781330
1  id24541  0.999041  0.000951  0.000008
2  id00134  0.000389  0.999549  0.000062
3  id27757  0.073752  0.918223  0.008026
4  id04081  0.802288  0.051065  0.146648

In [19]:
fast_pred.head()

        id       EAP       HPL       MWS
0  id02310  0.211385  0.035522  0.753093
1  id24541  0.952736  0.040467  0.006797
2  id00134  0.992359  0.007397  0.000244
3  id27757  0.152902  0.844968  0.002131
4  id04081  0.955608  0.019530  0.024862

In [20]:
clf_pred.head()

        id       EAP       HPL           MWS
0  id02310  0.018888  0.000579  9.805337e-01
1  id24541  0.999996  0.000004  5.796934e-07
2  id00134  0.403154  0.596823  2.300645e-05
3  id27757  0.924460  0.075540  8.807973e-08
4  id04081  0.978579  0.015000  6.420737e-03

In [21]:
early_pred.head()

        id       EAP       HPL           MWS
0  id02310  0.009186  0.007780  9.830348e-01
1  id24541  0.999987  0.000013  7.818713e-09
2  id00134  0.000862  0.999047  9.093016e-05
3  id27757  0.978151  0.020689  1.160134e-03
4  id04081  0.538227  0.208888  2.528852e-01

In [22]:
xgb1_pred.head()

        id       EAP       HPL       MWS
0  id02310  0.020868  0.001286  0.977846
1  id24541  0.999464  0.000311  0.000225
2  id00134  0.032166  0.967338  0.000495
3  id27757  0.997486  0.001252  0.001262
4  id04081  0.972237  0.026245  0.001518

In [23]:
xgb2_pred.head()

        id       EAP       HPL       MWS
0  id02310  0.031252  0.007071  0.961677
1  id24541  0.998636  0.000810  0.000555
2  id00134  0.024428  0.971831  0.003741
3  id27757  0.722790  0.265629  0.011581
4  id04081  0.931655  0.035305  0.033039

In [24]:
print(vw_pred.shape)
print(lstm_pred.shape)
print(fast_pred.shape)
print(clf_pred.shape)
print(early_pred.shape)
print(xgb1_pred.shape)
print(xgb2_pred.shape)

(8392, 4)
(8392, 4)
(8392, 4)
(8392, 4)
(8392, 4)
(8392, 4)
(8392, 4)

In [25]:
all_pred = pd.concat((fast_pred, vw_pred, lstm_pred, clf_pred, early_pred, xgb2_pred))

In [26]:
by_id_index = all_pred.groupby('id', as_index=False)
final_pred = by_id_index.mean()

In [27]:
final_pred.head()

        id       EAP       HPL       MWS
0  id00008  0.993407  0.005192  0.003269
1  id00011  0.018817  0.975819  0.012980
2  id00013  0.052695  0.958824  0.004239
3  id00018  0.390604  0.482289  0.091665
4  id00020  0.003337  0.993758  0.002127

In [28]:
final_pred.to_csv('../predictions/final_pred.csv', index=False)