In [1]:
import pandas as pd

In [26]:
alg1_pred = pd.read_csv('../predictions/alg1.csv')
alg2_pred = pd.read_csv('../predictions/alg2.csv')
alg3_pred = pd.read_csv('../predictions/alg3.csv')
alg4_pred = pd.read_csv('../predictions/alg4.csv')
alg5_pred = pd.read_csv('../predictions/alg5.csv')
alg6_pred = pd.read_csv('../predictions/alg6.csv')

In [27]:
vw_pred = pd.read_csv('../predictions/submission2_text_feat.csv')
lstm_pred = pd.read_csv('../predictions/lstm_predictions.csv')
fast_pred = pd.read_csv('../predictions/fast_text_predictions.csv')
clf_pred = pd.read_csv('../predictions/clf_predictions.csv')
early_pred = pd.read_csv('../predictions/early_predictions.csv')

In [3]:
vw_pred.head()

        id       EAP       MWS       HPL
0  id02310  0.212735  0.753779  0.028311
1  id24541  0.805464  0.007126  0.180271
2  id00134  0.021110  0.047882  0.933549
3  id27757  0.478632  0.011275  0.336385
4  id04081  0.688231  0.115644  0.209802

In [6]:
lstm_pred.head()

        id       EAP       HPL       MWS
0  id02310  0.036673  0.181997  0.781330
1  id24541  0.999041  0.000951  0.000008
2  id00134  0.000389  0.999549  0.000062
3  id27757  0.073752  0.918223  0.008026
4  id04081  0.802288  0.051065  0.146648

In [7]:
fast_pred.head()

        id       EAP       HPL       MWS
0  id02310  0.211385  0.035522  0.753093
1  id24541  0.952736  0.040467  0.006797
2  id00134  0.992359  0.007397  0.000244
3  id27757  0.152902  0.844968  0.002131
4  id04081  0.955608  0.019530  0.024862

In [8]:
clf_pred.head()

        id       EAP       HPL           MWS
0  id02310  0.018888  0.000579  9.805337e-01
1  id24541  0.999996  0.000004  5.796934e-07
2  id00134  0.403154  0.596823  2.300645e-05
3  id27757  0.924460  0.075540  8.807973e-08
4  id04081  0.978579  0.015000  6.420737e-03

In [18]:
early_pred.head()

        id       EAP       HPL           MWS
0  id02310  0.009186  0.007780  9.830348e-01
1  id24541  0.999987  0.000013  7.818713e-09
2  id00134  0.000862  0.999047  9.093016e-05
3  id27757  0.978151  0.020689  1.160134e-03
4  id04081  0.538227  0.208888  2.528852e-01

In [29]:
print(vw_pred.shape)
print(lstm_pred.shape)
print(fast_pred.shape)
print(clf_pred.shape)
print(early_pred.shape)
print(alg1_pred.shape)
print(alg2_pred.shape)
print(alg3_pred.shape)
print(alg4_pred.shape)
print(alg5_pred.shape)
print(alg6_pred.shape)

(8392, 4)
(8392, 4)
(8392, 4)
(8392, 4)
(8392, 4)
(8392, 4)
(8392, 4)
(8392, 4)
(8392, 4)
(8392, 4)
(8392, 4)

In [31]:
all_pred = pd.concat((fast_pred, vw_pred, lstm_pred, clf_pred, early_pred, alg1_pred, alg2_pred, alg3_pred, alg4_pred, alg5_pred, alg6_pred))

In [32]:
by_id_index = all_pred.groupby('id', as_index=False)
final_pred = by_id_index.mean()

In [33]:
final_pred.head()

        id       EAP       HPL       MWS
0  id00008  0.926096  0.040180  0.034743
1  id00011  0.085866  0.899365  0.018923
2  id00013  0.115473  0.848637  0.044484
3  id00018  0.266657  0.543227  0.170784
4  id00020  0.057650  0.917747  0.024178

In [34]:
final_pred[final_pred['id'] == 'id24541']

           id       EAP       HPL       MWS
7356  id24541  0.886044  0.077181  0.036126

In [35]:
final_pred.to_csv('../predictions/final_pred.csv', index=False)